name: Build Index

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'data/*.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install deps
        run: npm install

      #在 build 之前 pull
      - name: Sync with main
        run: |
          git pull https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }} main

      - name: Build index
        run: npm run build

      - name: Commit index data
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add data/*.json
          git commit -m "chore: update index data [skip ci]" || exit 0

          git push https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }} HEAD:main
